doctype html
html
	head
		title User Information App - Add User
<<<<<<< HEAD:src/views/adduser.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="js/custom.js") 
=======
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='/css/mystyle.css')
>>>>>>> c2ed7888c466d4973af3c57acaafb7cd5cc5d7d8:src/views/adduser.jade
	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
			a(href='/adduser') ADD USER
		h1 Add new user:
		form(action="/", method="post")
				div.input
					p Firstname: 
						input(type="text", name="firstname")
					p Lastname: 
						input(type="text", name="lastname")
					p Email:
						input(type="text", name="email")
				div.actions
					input(type="submit", value="Submit")