doctype html
html
	head
		title User Information App - Add User
		link(rel='stylesheet', href='./mystyle.css')
	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
		h1 Add new user:
		form(action="/", method="post")
				div.input
					p Firstname: 
						input(type="text", name="firstname")
					p Lastname: 
						input(type="text", name="lastname")
					p Email:
						input(type="text", name="email")
				div.actions
					input(type="submit", value="Submit")