doctype html
html
	head
		title User Information App - Add User
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="js/custom.js") 
	body
		a(href='/') HOME
		a(href='/search') SEARCH
		h1 Add new user:
		form(action="/", method="post")
				div.input
					p Firstname: 
						input(type="text", name="firstname")
					p Lastname: 
						input(type="text", name="lastname")
					p Email:
						input(type="text", name="email")
				div.actions
					input(type="submit", value="Submit")