doctype html
html
	head
		title User Information App - Add User
		// jQuery and custom js file
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="/js/custom.js") 

		// stylesheets
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/mystyle.css')
	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
			a(href='/adduser') ADD USER
		#contents
			h2 Add new user:
			form(action="/", method="post")
					div.inputs 
						input(type="text", name="firstname", placeholder="firstname") 
						br
						input(type="text", name="lastname", placeholder="lastname")
						br
						input(type="text", name="email", placeholder="email")
					div.actions
						input(type="submit", value="Submit")