doctype html
html
	head
		title User Information App
		// jQuery and custom js file
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="js/custom.js") 

		// stylesheets
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/mystyle.css')

	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
			a(href='/adduser') ADD USER
		#contents
			h2= "Total amount of users: " + users.length
			each user in users
				p= "Firstname: " + user.firstname
				p= "Lastname: " + user.lastname
				p= "Email: " + user.email
				br
