doctype html
html
	head
		title User Information App
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/mystyle.css')
	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
			a(href='/adduser') ADD USER
		h2= "Total amount of users: " + users.length
		each user in users
			p= "Firstname: " + user.firstname
			p= "Lastname: " + user.lastname
			p= "Email: " + user.email
			br
