doctype html
html
	head
		title User Information App
<<<<<<< HEAD:src/views/index.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="./js/custom.js") 
=======
		link(rel='stylesheet', href='css/bootstrap.css')
		
		link(rel='stylesheet', href='css/mystyle.css')
>>>>>>> c2ed7888c466d4973af3c57acaafb7cd5cc5d7d8:src/views/index.jade
	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
			a(href='/adduser') ADD USER
		h2= "Total amount of users: " + users.length
		each user in users
			p= "Firstname: " + user.firstname
			p= "Lastname: " + user.lastname
			p= "Email: " + user.email
			br
