doctype html
html
	head
		title User Information App
	body
		a(href='/search') SEARCH
		h2= "Total amount of users: " + users.length
		each user in users
			p= "Firstname: " + user.firstname
			p= "Lastname: " + user.lastname
			p= "Email: " + user.email
			br
