doctype html
html
	head
		title User Information App - Search
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="js/custom.js") 
	body
	a(href='/') HOME
	a(href='/adduser') ADD USER
	h1 Enter your search query:
		form(action="/searchresult", method="post")
			div.input
				input(type="text", name="name")
			div.actions
				input(type="submit", value="Search")