doctype html
html
	head
		title User Information App - Search
		// jQuery and custom js file
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
		script(src="js/custom.js") 

		// stylesheets
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/mystyle.css')
	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
			a(href='/adduser') ADD USER
		#contents
			h1 Enter your search query:
				form(action="/searchresult", method="post")
					div.input
						input(type="text", name="name", placeholder="Enter firstname or lastname")
					div.actions
						input(type="submit", value="Search")
		div#autocomplete