doctype html
html
	head
		title User Information App - Search
	body
 
	h1 Enter your search query:
		form(action="/searchresult", method="post")
			div.input
				input(type="text", name="name")
			div.actions
				input(type="submit", value="Search")