doctype html
html
	head
		title User Information App - Search
		link(rel='stylesheet', href='css/bootstrap.css')
		link(rel='stylesheet', href='css/mystyle.css')
	body
		#nav
			a(href='/') HOME
			a(href='/search') SEARCH
			a(href='/adduser') ADD USER
		h1 Enter your search query:
			form(action="/searchresult", method="post")
				div.input
					input(type="text", name="name")
				div.actions
					input(type="submit", value="Search")